<!DOCTYPE html>
<html lang="en">
<head>
  <title>any <%=game%> enjoyers?</title>
  <style>
      body {
        font-family: system-ui;
      }
  </style>
</head>
<body>
  <p>i love <%=game%> so much.</p>
  <i>served from ejs :D</i>
</body>
</html>